{% extends "layout.html" %}

{% block extra_css %}
<link rel="stylesheet" href="../static/css/profile.css" />
{% endblock %}

{% block content %}
<main>
  <section class="profile">
    <h1><i class="fas fa-user-circle" style="margin-right: 10px;"></i>Your Profile</h1>

    <div class="user-info" id="userInfo">
      <img src="https://i.pinimg.com/736x/6e/67/5d/6e675d465be41e0b8f4f3f7983869508.jpg" alt="User Avatar" />
      <div>
        <h2>{{user.username}}</h2>
        <p class="username">@{{user.username}}</p>
        <p>Email: {{user.email}}</p>
      </div>
    </div>

    <section class="bookmarked-repos">
      <h2>🔖 Bookmarked Repositories</h2>
      <div class="repo-list" id="bookmarks">
        {% if bookmarks %}
        {% for bookmark in bookmarks %}
        <div class="repo-card">
          <a href="{{ url_for('repo_analysis', repo_name=bookmark.repo_name) }}"><h3>{{ bookmark.repo_name }}</h3></a>
        </div>
        {% endfor %}
        {% else %}
        <p>No bookmarks.</p>
        {% endif %}
      </div>
    </section>

    <section class="search-history">
      <h2>🕒 Search History</h2>
      <ul id="searchHistoryList" class="search-history-list">
        {% if history %}
        {% for h in history %}
        <a href="{{ url_for('repo_analysis', repo_name=h.repo_name) }}"><li>{{ h.repo_name }}</li></a>
        {% endfor %}
        {% else %}
        <p>No searches.</p>
        {% endif %}
      </ul>
    </section>
  </section>
</main>
{% endblock %}

{% block extra_js %}
<script defer src="../static/js/profile.js"></script>
{% endblock %}